* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Uber Move Text';
}

/* MENU ACTIVE FOR BLURRING BG */
.opacity-div {
  background-color: rgba(38, 38, 38, 0.5);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* MENU OPENED */
.menu-opened {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  background-color: white;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  visibility: hidden;
}

.menu-opened .top, .menu-opened .bottom {
  width: 90%;
}

.menu-opened .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.5rem 0rem;
}

.menu-opened .top .menu-login {
  border: none;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  background-color: black;
}

.menu-opened .top .menu-login:hover {
  background-color: #2e2e2e;
}

.menu-opened .top .menu-links {
  padding: 1.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-opened .top .menu-links a {
  font-size: .9rem;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  margin: 10px 0px;
  text-align: left;
}

.menu-opened .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0rem  3rem 0rem;
}

.menu-opened .bottom .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
}

.menu-opened .bottom .app p {
  font-size: .9rem;
  font-weight: bold;
  padding: 6% 0% 6% 7%;
}

.menu-opened .bottom .app img {
  height: 3.5rem;
}

.menu-opened .bottom .platforms {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-opened .bottom .platforms .platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 50px;
  padding: .75rem;
  background-color: #eeee;
}

.menu-opened .bottom .platforms .platform a {
  font-size: .9rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.menu-opened .bottom .platforms .platform img {
  margin: 0px 5px;
  height: 1rem;
}

.landing {
  height: 100vh;
  background-color: #ffd7d2;
  overflow: hidden;
}

.landing .bg {
  height: 100vh;
}

.landing header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0rem 2.5rem;
  z-index: 1;
}

.landing header nav {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing header nav .logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing header nav .logo-menu .logo {
  font-size: 2rem;
  margin: 2rem;
}

.landing header nav .logo-menu .menu i {
  font-size: 1.2rem;
  cursor: pointer;
}

.landing header nav .login-btn {
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 50px;
  background: #f6f6f6;
  -webkit-box-shadow: 0px 0px 10px -4px #000000;
          box-shadow: 0px 0px 10px -4px #000000;
  border: none;
  padding: 7px 7px;
  cursor: pointer;
}

.landing header nav .login-btn:hover {
  background-color: silver;
}

.landing header nav .header-searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 50%;
  padding: 0.9rem;
  margin: 0% 10%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  pointer-events: none;
}

.landing header nav .header-searchbar i {
  font-size: 1.5rem;
  margin: 0px 10px;
}

.landing header nav .header-searchbar .location {
  outline: none;
  border: none;
  background-color: #f6f6f6;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.landing header nav .header-searchbar .location::-webkit-input-placeholder {
  font-weight: bold;
}

.landing .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0rem 2.5rem;
  z-index: 1;
  background: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: #e2e2e2 0px -2px 0px inset;
          box-shadow: #e2e2e2 0px -2px 0px inset;
}

.landing .sticky .sticky-btn {
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 50px;
  background: #f6f6f6;
  border: none;
  padding: 7px 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.landing .sticky .sticky-searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 50%;
  padding: 0.9rem;
  margin: 0% 10%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.landing .sticky .sticky-searchbar i {
  font-size: 1.5rem;
  margin: 0px 10px;
}

.landing .sticky .sticky-searchbar .location {
  outline: none;
  border: none;
  background-color: #f6f6f6;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.landing .sticky .sticky-searchbar .location::-webkit-input-placeholder {
  font-weight: bold;
}

.landing .content {
  position: absolute;
  top: 50%;
  padding: 0rem 2.5rem;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 100%;
}

.landing .content h1 {
  font-family: 'Uber Move';
  font-size: 3.3rem;
  font-weight: bold;
  padding-bottom: 2rem;
}

.landing .content .delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.landing .content .delivery .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  width: 45%;
  padding: 0.9rem;
}

.landing .content .delivery .searchbar i {
  font-size: 1.5rem;
  margin: 0px 10px;
}

.landing .content .delivery .location {
  outline: none;
  border: none;
  background-color: #f6f6f6;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.landing .content .delivery .location::-webkit-input-placeholder {
  font-weight: bold;
}

.landing .content .delivery .delivery-time {
  margin: 0.5rem;
  position: relative;
}

.landing .content .delivery select {
  outline: none;
  padding: 1rem;
  border: none;
  background-color: #f6f6f6;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font-weight: bold;
}

.landing .content .delivery .delivery-time::after {
  content: url(./img/arrow.svg);
  font-size: 1rem;
  top: 14px;
  right: 15px;
  position: absolute;
}

.landing .content .delivery .submit-btn {
  padding: 1rem;
  border: none;
  color: #f6f6f6;
  background-color: black;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.landing .content .delivery .submit-btn:hover {
  background-color: #2e2e2e;
}

.landing .content p {
  font-size: 0.9rem;
  font-weight: bold;
}

.landing .content p a {
  color: black;
}

.info {
  padding: 0rem 2.5rem;
}

.info .app-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 17;
  width: 100%;
  padding: 5rem 10rem;
}

.info .app-banner .app-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .app-banner .app-div img {
  height: 5rem;
  margin: 0px 20px 0px 0px;
}

.info .app-banner .app-div p {
  font-family: 'Uber Move';
  font-size: 2rem;
  font-weight: bold;
}

.info .app-banner .platforms {
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info .app-banner .platforms .platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 50px;
  padding: .5rem;
  margin: 0px 5px;
  background-color: #eeee;
}

.info .app-banner .platforms .platform a {
  font-size: .9rem;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.info .app-banner .platforms .platform img {
  margin: 0px 5px;
  height: 1rem;
}

.info .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 5rem;
}

.info .cards .card {
  height: 15rem;
  width: 25rem;
}

.info .cards .card img {
  padding-bottom: 1rem;
}

.info .cards .card h2 {
  padding-bottom: 0.5rem;
}

.info .cards .card a {
  color: black;
}

.info .cities {
  padding: 5rem 0rem;
}

.info .cities .title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1rem;
}

.info .cities .title1 h1 {
  font-family: 'Uber Move';
  font-size: 2rem;
}

.info .cities .title1 a {
  color: black;
}

.info .cities .grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 4;
      grid-template-columns: 4;
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-gap: 2rem;
  padding: 2rem 0rem 5rem 0rem;
}

.info .cities .title2 {
  padding-bottom: 1rem;
}

.info .cities .title2 h1 {
  font-family: 'Uber Move';
  font-size: 2rem;
}

footer {
  padding: 0rem 2.5rem;
  height: 85vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .first-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0rem;
}

footer .first-part .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .first-part .stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .first-part .stores img {
  height: 2.5rem;
  margin: 0px 6px;
}

footer .first-part .about-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
}

footer .first-part .about, footer .first-part .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .first-part .about a, footer .first-part .help a {
  color: white;
  text-decoration: none;
  margin: 10px 0px;
}

footer .first-part .about .bold, footer .first-part .help .bold {
  font-weight: bold;
}

footer .first-part .about a:hover, footer .first-part .help a:hover {
  text-decoration: underline;
}

footer .second-part {
  font-size: .9rem;
  padding: 2rem 0rem;
}

footer .second-part .social-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2rem;
}

footer .second-part .social-terms .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .second-part .social-terms .social a {
  margin: 10px;
}

footer .second-part .social-terms .social img {
  height: 1rem;
}

footer .second-part .social-terms .terms {
  width: 100%;
  text-align: right;
}

footer .second-part .social-terms .terms a {
  margin: 10px;
}

footer .second-part .copyright p {
  text-align: center;
  color: white;
}

footer .line {
  background-color: white;
  width: 100%;
  height: 1px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .bold {
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */